
.main{
    display: flex;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0)
    ;
    align-items: center;    
    justify-content: space-around;
    gap: 200px;
    height: 100px;
    padding: 0px;
    margin: 25px;
    position: relative;
    
    
    top: -20px;
}

.navbar{
    display: flex;
    gap: 50px;
    font-size: large;
    

}
.marquee{
    display: flex;
    /* justify-content: center; */
    position: relative;
    top: -20px;
    align-items: center;
}

 
.logo{
           width: 100px;
        font-size:  xx-large   ;
        height: 100px;
}
.icon-1{
    color: whitesmoke;  
    background-color: white;
}
.li{
    color: rgb(0, 0, 0);
    background-color: rgb(194, 178, 178);
border-radius: 30px;
width: 85px;
height: 40px;
align-items: center;
justify-content: center;
display: flex;
    list-style: none;
    
}
.container{
    background-color: rgb(255, 94, 0) ;
    display: block;
    justify-content: center;
    width: 1300px;
    position: relative;
    left: 30px;
    top: -40px;
    height: 40vh;
    color: whitesmoke; 
      
}
h1{
    justify-content: center;
    display: flex;
    position: relative;
    top: 75px;
    font-size: 50px;
    

}
h3{
    justify-content: center;
    display: flex;
        position: relative;
    top: 60px;
        font-size: 20px;
}
.btns{
   justify-content: center;
   display: flex;
   align-items: center;
   position: relative;
   top: 80px;
   gap: 10px;
    
}
.hello-1{
    background-color: rgb(255, 94, 0);
    border: 2px solid whitesmoke;
    color: whitesmoke;
    font-size: large;
}
.hello-2{
    background-color: rgb(255, 94, 0);
    border: 2px solid whitesmoke;
    color: whitesmoke;
    font-size: large;
}
.hello-3{
    background-color: rgb(255, 94, 0);
    border: 2px solid whitesmoke;
    color: whitesmoke;
    font-size: large;
        /* transition: 2s ease;
    transform: scaleX(1.3) ; */
}
/* .button-hover{
    transition: 2s;
    transform: scaleX(1.3) ;
} */
 .images{
    display: flex;
    justify-content: space-around;
    
    align-items: center;
 }
h2{
    font-size: 50px;
    margin: 50px;
    position: relative;
    left: 500px;
    display: inline-block;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    padding: 10px;
    color: whitesmoke;
    align-items: center;
}
.cards-lab{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}
.cardss{
    position: relative;
    bottom: -0px;
    border: 1px black solid;
    
}
.cod{
    position: relative;
    top: -10px;
    
    
}
.card-r{
    border: 1px solid black;
    
}
.card-title{
    justify-content: center;
    display: flex;
}
.card-hate{
    /* position: relative;
    top:25px;
    left: 50px; */
    border: 1px black solid;
}

.card-title-t{
    display: flex;
    /* justify-content: center; */
    position: relative;
    left: 90px;
}
.ate{
    display: flex;
    border: 1px solid black;
}
a{
    color: rgb(68, 0, 255);
    
}
.card{
    border: 1px rgb(0, 0, 0) solid;
}
.card-text-r{
    position: relative;
    top: 50px;
}
 .btn-primary-r{
    position: relative;
    top: 55px;
 }

.hn{
    color: whitesmoke;
}